body
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.header-container
{
    background: #FF5A00;
    height: 63px;
    display: flex;
    align-items: center;
}
.header
{
    font-weight: 800;
    padding-left: 41px;
}
.title-container
{
    display: flex;
    justify-content: center;
    padding-top: 63px;
}
.title
{
    width: 1275px;
    
}
.text
{
    width: 190px;
    font-weight: 400;
    font-size: 42px;
    font-family: Marmelad;
}
.arrow
{
    width: 21.88px;
    height: 21.32px;
}
.calender
{
    width: 29px;
    height: 20px;
}
.date-group
{
    display: flex;
    flex-direction: row;
    gap: 9px;
}

.main-image-container
{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-image
{
    width: 1300px;
    height: 492px;
    border-radius: 20px;
}

.share-container
{
    display: flex;
    justify-content: center;
}

.share
{
    width: 1275px;
}
.logo
{
    width: 33px;
    height: 25px;
}
.gmail
{
    height: 20px;
    width: 29px;
    display: flex;
    padding-top: 3px;
}
.share-logo
{
    display: flex;
    gap: 4px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.content-container
{
    display: flex;
    justify-content: center;
}

.content
{
    width: 1275px;
}

p
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
}

.text2
{
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
}